<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card routerLink="leccion1">
            <ion-img src="../../assets/img/leccion.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ "LECCION1" | translate }}</ion-card-title>
              <ion-card-subtitle>{{ "INTERVALOS" | translate }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="../../assets/img/leccion.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Lección 2</ion-card-title>
              <ion-card-subtitle>Intervalos</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="../../assets/img/leccion.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Lección 3</ion-card-title>
              <ion-card-subtitle>Intervalos</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="../../assets/img/leccion.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Lección 4</ion-card-title>
              <ion-card-subtitle>Intervalos</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="../../assets/img/leccion.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Lección 5</ion-card-title>
              <ion-card-subtitle>Intervalos</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="../../assets/img/leccion.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Lección 6</ion-card-title>
              <ion-card-subtitle>Intervalos</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="../../assets/img/leccion.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Lección 7</ion-card-title>
              <ion-card-subtitle>Intervalos</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="../../assets/img/leccion.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Lección 8</ion-card-title>
              <ion-card-subtitle>Intervalos</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="../../assets/img/leccion.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Lección 9</ion-card-title>
              <ion-card-subtitle>Intervalos</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-img src="../../assets/img/leccion.jpg"></ion-img>
            <ion-card-header>
              <ion-card-title>Lección 10</ion-card-title>
              <ion-card-subtitle>Intervalos</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  