<ion-content [fullscreen]="true">
  <div id="bg">
    <ion-fab vertical="bottom" edge horizontal="center" slot="fixed">
      <ion-fab-button color="light" routerLink="/login/user-login">
        <ion-icon name="close-outline" color="medium"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <ion-list lines="none" class="ion-margin">
    <ion-list-header>NUEVA CONTRASEÑA</ion-list-header>
    <ion-item class="ion-margin">
      <ion-input placeholder="Usuario" type="text" #email required clearInput="true"></ion-input>
    </ion-item>
  
    <div align="right">
      <ion-button type="submit"  (click)="onResetPassword(email)" shape="round" strong="true" class="ion-margin-end" color="oro">
        Confirmar
        <ion-icon name="log-in" slot="end"></ion-icon>
      </ion-button>
    </div>
  </ion-list>
</ion-content>
